.App{
  background-color: #bd632f;
}

.App-header img{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  height: 200px;
}

.App-main{
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}


